In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df=pd.read_csv('insurance.csv')
filtr=df["charges"]<=12000

In [3]:
df=df.where(filtr)
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 846 entries, 1 to 1336
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       846 non-null    float64
 1   sex       846 non-null    object
 2   bmi       846 non-null    float64
 3   children  846 non-null    float64
 4   smoker    846 non-null    object
 5   region    846 non-null    object
 6   charges   846 non-null    float64
dtypes: float64(4), object(3)
memory usage: 52.9+ KB

In [4]:
def smoker_swap(sample):
    if sample == "yes": 
        return 1
    else: 
        return 0

In [5]:
df["smoker"]=df["smoker"].apply(smoker_swap)

In [6]:
def sex_swap(sample):
    if sample == "male":
        return 1
    else: 
        return 0

In [7]:
df["sex"]=df["sex"].apply(sex_swap)

In [8]:
dfs=df[df["smoker"]==1]
dfs.sort_values(by="charges")
# Na wysokość składki palenie zaczyna mieć wpływ dopiero od 12829 $

Empty DataFrame
Columns: [age, sex, bmi, children, smoker, region, charges]
Index: []

In [9]:
df2=pd.get_dummies(df["region"])

In [10]:
df=df.join(df2)

In [11]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges',
       'northeast', 'northwest', 'southeast', 'southwest'],
      dtype='object')

In [12]:
df=df[['age', 'sex', 'bmi', 'children', 'smoker', 'region', 
       'northeast', 'northwest', 'southeast', 'southwest','charges']]

In [13]:
df_cor= df[['age', 'sex', 'bmi', 'children', 'smoker',
       'northeast', 'northwest', 'southeast', 'southwest','charges']]

In [14]:
df_cor.head()

,age,sex,bmi,children,smoker,northeast,northwest,southeast,southwest,charges
1,18.0,1,33.77,1.0,0,0,0,1,0,1725.5523
2,28.0,1,33.00,3.0,0,0,0,1,0,4449.4620
4,32.0,1,28.88,0.0,0,0,1,0,0,3866.8552
5,31.0,0,25.74,0.0,0,0,0,1,0,3756.6216
6,46.0,0,33.44,1.0,0,0,0,1,0,8240.5896

In [15]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'northeast',
       'northwest', 'southeast', 'southwest', 'charges'],
      dtype='object')

In [16]:

def correlation (kolumny):
 
    cols= []
    
    for col in cols:
        corr=df_cor['charges'].corr(df_cor[col])
        lista.append(corr)
    return lista
cols= ['age','sex','bmi', 'children', 'smoker', 'northeast',
       'northwest', 'southeast', 'southwest']
list_corr=correlation(cols)

NameError: name 'lista' is not defined

In [ ]:
df_cor['charges'].corr(df_cor["sex"])

In [ ]:
correlation=pd.DataFrame(lista,kolumny)
correlation

In [ ]:
correlation.plot(kind="bar")

In [ ]:

x= df_cor[["age","sex","bmi","children","smoker"]]
y=df_cor["charges"]

In [ ]:
print(y)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=["charges","region"]), y, test_size=0.3,random_state=1)

In [ ]:
cor_df= X_train.copy()
cor_df["charges"]=y_train.values

In [ ]:
cor_df.head()

In [ ]:
cor= cor_df.corr()
cor

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(cor,annot=True)

In [ ]:
cor_df["charges"].hist()

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model= LinearRegression()
model.fit(X=X_train, y= y_train)

In [ ]:
pred_train= model.predict(X_train)
pred_test = model.predict(X_test)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x_range= list(range(len (pred_train)))
plt.scatter(x_range,y_train)
plt.scatter(x_range,pred_train)
plt.title("real vs pred")
plt.legend(["real","pred"])

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
print(mean_squared_error(y_train, pred_train,squared=False))

In [ ]:
x_predict=model.predict(X_test)
x_predict.shape

In [ ]:
#from sklearn.metrics import confusion_matrix
#confusion_matrix(y_test, x_predict)

In [ ]:
# ograniczyc wartosci do 20000, wybór cech, funkcja wizualizacja i blad,

In [ ]:
df_higher=pd.read_csv("insurance.csv")
df_higher1=df_higher["charges"]>=16000
df_higher2=df_higher["charges"]<=30000
df_higher= df_higher[df_higher1 & df_higher2]

In [ ]:
df_higher["sex"]=df_higher["sex"].apply(sex_swap)
df_higher["smoker"]=df_higher["smoker"].apply(smoker_swap)
df_higher2=pd.get_dummies(df_higher["region"])
df_higher2.head()
df_higher=df_higher.join(df_higher2)
df_higher.head()

In [ ]:
df_h_cor= df_higher[['age', 'sex', 'bmi', 'children', 'smoker',
       'northeast', 'northwest', 'southeast', 'southwest','charges']]
df_h_cor.head()

In [ ]:
A= df_h_cor[["age","sex","bmi","children","smoker"]]
b=df_h_cor["charges"]

In [ ]:
A_train, A_test, b_train, b_test = train_test_split(df_h_cor.drop(columns=["charges"]), b, test_size=0.3,random_state=1)

In [ ]:
cor_df2= A_train.copy()
cor_df2["charges"]=b_train.values

In [ ]:
cor2= cor_df2.corr()
cor2

In [ ]:
sns.heatmap(cor2,annot=True)

In [ ]:
cor_df2["charges"].hist()

In [ ]:
model2= LinearRegression()
model2.fit(X=A_train, y= b_train)

In [ ]:
pred_train2= model2.predict(A_train)
pred_test2 = model2.predict(A_test)

In [ ]:
a_range= list(range(len (pred_train2)))
plt.scatter(a_range,b_train)
plt.scatter(a_range,pred_train2)
plt.title("real vs pred")
plt.legend(["real","pred"])

In [ ]:
print(mean_squared_error(b_train, pred_train2,squared=False))

In [ ]:
def reggresion_results(y_real,y_pred,title):
    plt.figure()
    data_range= list(range(len (y_real)))
    plt.scatter(data_range,y_real)
    plt.scatter(data_range,y_pred)
    plt.title(title)
    plt.legend(["real","pred"])
    
    mse = mean_squared_error(y_real, y_pred,squared=True)                
    rmse = mean_squared_error(y_real, y_pred,squared=False)      
    r2_scored= r2_score(y_real, y_pred)                
    print(f"mse:{mse},\nrmse:{rmse},\nr2_score:{r2_scored}")
reggresion_results(b_test, pred_test2, "test vs pred")